<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://unpkg.com/stats-analysis"></script>
</head>

<body>
	<h2>Ping measurements of internet connections from <%=from%> to <%=to%> in the last week</h2>
	<h5>RTT</h5>
	<div id='myDiv0'></div>
	<h5>Number of anchor targets involved in measurement</h5>
	<div id='myDiv1'></div>
	<script>

		function getGraph(where, dataset, which){

			// set the dimensions and margins of the graph
			var margin = {top: 10, right: 30, bottom: 30, left: 60},
			width = 900 - margin.left - margin.right,
			height = 300 - margin.top - margin.bottom;

			// append the svg object to the body of the page
			var svg = d3.select(document.getElementById(where))
			.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
			.append("g")
				.attr("transform",
					"translate(" + margin.left + "," + margin.top + ")");

			dataset.forEach(function(d) { d.timestamp = new Date(d.timestamp * 1000); });
			
			var x = d3.scaleTime()
				.domain(d3.extent(dataset.map(function(d) { return d.timestamp; })))
				.range([ 0, width ]);
			svg.append("g")
				.attr("transform", "translate(0," + height + ")")
				.call(d3.axisBottom(x));

				// Add Y axis
			var y = d3.scaleLinear()
				.domain([0, d3.max(dataset.map(function(d) { return which==0?(+d.RTT):(+d.anchors); }))+1])
				.range([ height, 0 ]);
			svg.append("g")
				.call(d3.axisLeft(y));

			// Add the line
			svg.append("path")
				.datum(dataset)
				.attr("fill", "none")
				.attr("stroke",  "steelblue")
				.attr("stroke-width", 1.5)
				.attr("d", d3.line()
            					.x(function(d) { return x(d.timestamp) })
            					.y(function(d) { return which==0?y(+d.RTT):y(+d.anchors) })
        		)
			
		}		
					
		console.log(<%-data%>)
		getGraph('myDiv0', <%-data%>, 0);
		getGraph('myDiv1', <%-data%>, 1)

	</script>
	<input type="button" value="Back" onclick="window.history.back()" /> 
</body>
</html>